html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 20%);
    background-color: white;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card img{
    height: 50%;
    width: auto;
    align-items:center;
    margin: 20px 10px 0px;
}


.card h4{
    font-weight: 600;
}

.card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

.card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}