@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.navbar-distributed{
  background: #191716;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 10px 45px;
}

.navbar-distributed .navbar-left,
.navbar-distributed .navbar-right{
  display: inline-block;
  vertical-align: top;
}

.navbar-distributed .navbar-left{
  width: 70%;
  background-color: blanchedalmond;
}


.navbar-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

/* Footer links */

.navbar-distributed .navbar-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.navbar-distributed .navbar-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

/* Navbar Right */

.navbar-distributed .navbar-right{
  width: 30%;
}

.navbar-logo-book{
    height: 100px;
    width: auto;
    align-items:center;
    margin: 10px 10px 0px;
    
  }


@media (max-width: 880px) {

  .navbar-distributed{
    font: bold 14px sans-serif;
  }

  .navbar-distributed .navbar-left,
  .navbar-distributed .navbar-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

}