.registerContainer{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 120%;
}



.registerForm{
    padding: 15px;
    background: #191919;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    box-shadow: rgba(188, 188, 188, 0.2) 0px 2px 8px 0px;
}

.title{
    text-align: center;
    color: white;
    font-size: 40px;
}

form{
    height: 90%;
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
}


#submit{
    font-size: 24px!important;
}

.label{
    margin-top: 40px;
    color: white;
}

.label span{
    padding: 0 10px;
}

input{
    
    background: transparent;
    border: none!important;
    border-bottom: 2px solid!important;
    outline: none;
    color: white;
    
}

input[type=submit], input[type=button]{
    padding: 5px 20px;
    font-size: 24px;
    background: transparent;
    border: none!important;
    border-radius: 5px;
    background: rgb(197, 30, 27);
    color: white;
    
}

p{
    display: flex;
}

label span, label input{
    font-size: 16px;
}

.advice{
    margin: 0;
    color: rgb(255, 94, 94);
    font-size: 14px;
}